
.selected {
  background-color: #cfd8dc !important;
  color: white;
}

.heroes {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
  width: 15em;

  li {
    background-color: #EEE;
    border-radius: 4px;
    cursor: pointer;
    height: 1.6em;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    position: relative;

    &.selected:hover {
      background-color: #bdd8dc !important;
      color: white;
    }

    &:hover {
      background-color: #ddd;
      color: #607d8b;
      left: .1em;
    }
  }

  a {
    color: #888;
    display: block;
    position: relative;
    text-decoration: none;
    width: 250px;

    &:hover {
      color: #607d8b;
    }
  }

  .text {
    position: relative;
    top: -3px;
  }

  .badge {
    background-color: #607d8b;
    border-radius: 4px 0 0 4px;
    color: white;
    display: inline-block;
    font-size: small;
    height: 1.8em;
    left: -1px;
    line-height: 1em;
    margin-right: .8em;
    min-width: 16px;
    padding: 0.8em 0.7em 0 0.7em;
    position: relative;
    text-align: right;
    top: -4px;
  }
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: hand;
  font-family: Arial;

  &:hover {
    background-color: #cfd8dc;
  }

  &.delete {
    background-color: gray !important;
    color: white;
    left: 194px;
    position: relative;
    top: -32px;
  }
}
